//From w3schools
a{
     color:#0067ab;
     text-decoration:none;
}
.form{
     width: 300px;
     margin: auto;
	 padding-top: 100px;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color:#1100ff;
     font-size: 16px;
     border: 1px solid  #1100ff; 
     border-radius: 2px;
     margin-top: 10px;
}
input[type='submit']:hover {
     background-color: #1100ff;
}
